*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{

}

#root{
    height: 100%;
    width: 100%;
}

/*
    header
*/
.header{
    width: 100%;
    position: sticky;
    top: 0;
    transition: all 0.3s ease 0s;
    height: 60px;
    z-index: 10;
    backdrop-filter: blur(7px);

    .header-in{
        padding: 11.8px 0px;
    }
}

.header-logo{
    img{
        width: 40px;
    }

    span{
        font-weight: 700;
    }
}

.header-theme{
    position: relative;
    display: inline-block;
    width: 56px;
    height: 28px;
}

.header-theme-switch{
    position: absolute;
    cursor: pointer;
    transition: .4s;
    border-radius: 28px;
    inset: 0px;

    &:before{
        position: absolute;
        content: '';
        height: 24px;
        width: 24px;
        left: 2px;
        bottom: 2px;
        transition: .4s;
        border-radius: 50%;
    }
}

.header-language-switch{
    cursor: pointer;
}